#der  {
    width: 50%;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 4s;
    background-color: burlywood;
    align-items: center;
}

#izq {
    width: 50%;
    border-radius: 5px;
    animation-name: aparecer;
    animation-duration: 4s;
    background-color: cadetblue;
  
}


#der img{
    margin-left: 20%;
     }

#izq img{
    margin-left: 10%;
     }

#padre {
   
    display: flex;
    justify-content: space-around;
